.offer {
  background: url("/images/components/offer/bg_account-type.png");
  background-size: 100% 100%;
}
.offer__content > .container {
  display: flex;

  padding-top: calc(365 / 1920 * 100vw);
  padding-bottom: calc(50 / 1920 * 100vw);

  position: relative;
}
.offer__content > .container > p {
  position: absolute;
  top: calc(403 / 1920 * 100vw);
  left: calc(546 / 1920 * 100vw);

  font-family: var(--second-family);
  font-weight: 500;
  font-size: calc(32 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--text-white);
  width: calc(590 / 1920 * 100vw);
}
.offer__left > h1 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: calc(160 / 1920 * 100vw);
  line-height: 83%;
  letter-spacing: -0.08em;
  color: var(--text-white);
  width: calc(1168 / 1920 * 100vw);
}
.offer__right {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-top: auto;
}
.offer__right > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--text-white);
  width: calc(540 / 1920 * 100vw);

  margin-bottom: calc(20 / 1920 * 100vw);
}
.offer__btn > button {
  width: calc(260 / 1920 * 100vw);
}
.offer__btn > button:last-of-type {
  margin-left: calc(20 / 1920 * 100vw);
}

@media screen and (max-width: 1024px) {
  .offer {
    background: url("/images/components/offer/bg_account-type.png");
    background-size: 100% 100%;
  }
  .offer__content > .container {
    display: flex;
    flex-direction: column;

    padding-top: calc(433 / 768 * 100vw);
    padding-bottom: calc(182 / 768 * 100vw);

    position: relative;
  }
  .offer__content > .container > p {
    position: absolute;
    top: calc(457 / 768 * 100vw);
    left: calc(303 / 768 * 100vw);

    font-family: var(--second-family);
    font-weight: 500;
    font-size: calc(20 / 768 * 100vw);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text-white);
    width: calc(350 / 768 * 100vw);
  }
  .offer__left > h1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: calc(90 / 768 * 100vw);
    line-height: 83%;
    letter-spacing: -0.08em;
    color: var(--text-white);
    width: calc(700 / 768 * 100vw);
  }
  .offer__right {
    display: flex;
    flex-direction: column;

    margin-left: 0;
    margin-top: 0;
  }
  .offer__right > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(20 / 768 * 100vw);
    line-height: 110%;
    letter-spacing: -0.04em;
    color: var(--text-white);
    width: calc(646 / 768 * 100vw);

    margin-top: calc(35 / 768 * 100vw);
    margin-bottom: calc(60 / 768 * 100vw);
  }
  .offer__btn > button {
    width: calc(260 / 768 * 100vw);
  }
  .offer__btn > button:last-of-type {
    margin-left: calc(20 / 768 * 100vw);
  }
}
@media screen and (max-width: 768px) {
  .offer {
    background: url("/images/components/offer/bg_account-type.png");
    background-size: 100% 100%;
  }
  .offer__content > .container {
    display: flex;
    flex-direction: column;

    padding-top: calc(158 / 390 * 100vw);
    padding-bottom: calc(98 / 390 * 100vw);

    position: relative;
  }
  .offer__content > .container > p {
    position: absolute;
    top: calc(64 / 390 * 100vw);
    left: calc(175 / 390 * 100vw);

    transform: translateX(-50%);

    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(20 / 390 * 100vw);
    line-height: 110%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--text-white-500);
    width: calc(350 / 390 * 100vw);
  }
  .offer__left > h1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: calc(49 / 390 * 100vw);
    line-height: 100%;
    letter-spacing: -0.08em;
    color: var(--text-white);
    text-align: center;
    width: 100%;
  }
  .offer__right {
    display: flex;
    flex-direction: column;

    margin-left: 0;
    margin-top: 0;
  }
  .offer__right > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(15 / 390 * 100vw);
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--text-white);
    text-align: center;
    width: 100%;

    margin-top: calc(30 / 390 * 100vw);
    margin-bottom: calc(30 / 390 * 100vw);
  }
  .offer__btn {
    display: flex;
    flex-direction: column;
  }
  .offer__btn > button {
    width: 100%;
  }
  .offer__btn > button:last-of-type {
    margin-left: calc(0 / 390 * 100vw);
    margin-top: calc(20 / 390 * 100vw);
  }
}
