.advantages {
  padding-top: calc(180 / 1920 * 100vw);
}
.advantages > .container > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(16 / 1920 * 100vw);
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--text-light-blue);
  text-align: center;
}
.advantages > .container > h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: calc(64 / 1920 * 100vw);
  line-height: 95%;
  letter-spacing: -0.06em;
  text-align: center;
  color: var(--text-white);

  margin: 0 auto;
  margin-top: calc(20 / 1920 * 100vw);

  width: calc(1383 / 1920 * 100vw);
}
.advantages__row {
  display: flex;
  flex-wrap: wrap;

  row-gap: calc(20 / 1920 * 100vw);
  column-gap: calc(20 / 1920 * 100vw);

  margin-top: calc(30 / 1920 * 100vw);
}
.advantages__item {
  width: calc(440 / 1920 * 100vw);
  height: calc(283 / 1920 * 100vw);

  padding: calc(20 / 1920 * 100vw);

  position: relative;

  background: url("/images/components/advantages/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__item:nth-child(2),
.advantages__item:nth-child(5) {
  visibility: hidden;
}
.advantages__item > h3 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: calc(32 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--text-white);
  text-align: left;

  width: calc(282 / 1920 * 100vw);
}
.advantages__item > img {
  position: absolute;
  top: calc(20 / 1920 * 100vw);
  right: calc(20 / 1920 * 100vw);

  width: calc(80 / 1920 * 100vw);
  height: calc(80 / 1920 * 100vw);
}
.advantages__item:nth-child(6) img,
.advantages__item:nth-child(7) img,
.advantages__item:nth-child(8) img {
  top: unset;
  bottom: calc(20 / 1920 * 100vw);
  right: calc(20 / 1920 * 100vw);
}

@media screen and (max-width: 1024px) {
  .advantages {
    padding-top: calc(100 / 768 * 100vw);
  }
  .advantages > .container > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(16 / 768 * 100vw);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--text-light-blue);
    text-align: center;
  }
  .advantages > .container > h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: calc(40 / 768 * 100vw);
    line-height: 95%;
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--text-white);

    margin: 0 auto;
    margin-top: calc(10 / 768 * 100vw);

    width: calc(650 / 768 * 100vw);
  }
  .advantages__row {
    display: flex;
    flex-wrap: wrap;

    row-gap: calc(20 / 768 * 100vw);
    column-gap: calc(10 / 768 * 100vw);

    margin-top: calc(50 / 768 * 100vw);
  }
  .advantages__item {
    width: calc(359 / 768 * 100vw);
    height: calc(283 / 768 * 100vw);

    padding: calc(16 / 768 * 100vw);
    padding-top: calc(144 / 768 * 100vw);

    position: relative;

    background: url("/images/components/advantages/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .advantages__item:nth-child(2),
  .advantages__item:nth-child(5) {
    display: none;
  }
  .advantages__item > h3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: calc(24 / 768 * 100vw);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text-white);
    text-align: left;

    width: 100%;
  }
  .advantages__item > img {
    position: absolute;
    top: calc(20 / 768 * 100vw);
    right: auto;
    left: calc(20 / 768 * 100vw);

    width: calc(80 / 768 * 100vw);
    height: calc(80 / 768 * 100vw);
  }
  .advantages__item:nth-child(6) img,
  .advantages__item:nth-child(7) img,
  .advantages__item:nth-child(8) img {
    top: unset;
    bottom: unset;
    right: unset;

    top: calc(20 / 768 * 100vw);
    right: auto;
    left: calc(20 / 768 * 100vw);
  }
}
@media screen and (max-width: 768px) {
  .advantages {
    padding-top: calc(80 / 390 * 100vw);
  }
  .advantages > .container > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(16 / 390 * 100vw);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--text-light-blue);
    text-align: center;
  }
  .advantages > .container > h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: calc(36 / 390 * 100vw);
    line-height: 95%;
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--text-white);

    margin: 0 auto;
    margin-top: calc(10 / 390 * 100vw);

    width: 100%;
  }
  .advantages__row {
    display: flex;
    flex-wrap: wrap;

    row-gap: calc(20 / 390 * 100vw);
    column-gap: calc(10 / 390 * 100vw);

    margin-top: calc(20 / 390 * 100vw);
  }
  .advantages__item {
    width: 100%;
    height: auto;

    padding-bottom: calc(16 / 390 * 100vw);
    padding-left: calc(84 / 390 * 100vw);
    padding-right: calc(8 / 390 * 100vw);
    padding-top: calc(16 / 390 * 100vw);

    border-radius: calc(12 / 390 * 100vw);

    position: relative;

    background: url("/images/components/advantages/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .advantages__item:nth-child(4) {
    padding-bottom: calc(27 / 390 * 100vw);
    padding-top: calc(27 / 390 * 100vw);
  }
  .advantages__item:nth-child(2),
  .advantages__item:nth-child(5) {
    display: none;
  }
  .advantages__item > h3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: calc(20 / 390 * 100vw);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text-white);
    text-align: left;
  }
  .advantages__item > img {
    position: absolute;
    top: calc(16 / 390 * 100vw);
    right: auto;
    left: calc(12 / 390 * 100vw);

    width: calc(56 / 390 * 100vw);
    height: calc(56 / 390 * 100vw);
  }
  .advantages__item:nth-child(6) img,
  .advantages__item:nth-child(7) img,
  .advantages__item:nth-child(8) img {
    top: unset;
    bottom: unset;
    right: unset;

    top: calc(16 / 390 * 100vw);
    right: auto;
    left: calc(12 / 390 * 100vw);
  }
}
