.bonuses {
  padding-top: calc(170 / 1920 * 100vw);
}
.bonuses > .container {
  display: flex;
  column-gap: calc(30 / 1920 * 100vw);
}
.bonuses__text > p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(16 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--text-light-blue);
}
.bonuses__text > h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: calc(64 / 1920 * 100vw);
  line-height: 95%;
  letter-spacing: -0.06em;
  color: var(--text-white);
  text-align: left;

  width: calc(710 / 1920 * 100vw);

  margin-top: calc(30 / 1920 * 100vw);
}
.bonuses__row {
  display: flex;
  column-gap: calc(30 / 1920 * 100vw);
}
.bonuses__item {
  width: calc(340 / 1920 * 100vw);

  border-radius: calc(32 / 1920 * 100vw);
  background: linear-gradient(180deg, #00e 0%, #0f1622 100%);
}
.bonuses__item > img {
  height: calc(251 / 1920 * 100vw);
  width: 100%;
}
.bonuses__item-text {
  padding: calc(25 / 1920 * 100vw);
  margin-top: calc(40 / 1920 * 100vw);
}
.bonuses__item-text > h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(24 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--text-white);
}
.bonuses__item-text > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(16 / 1920 * 100vw);
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--fill-white-800);
  margin-top: calc(10 / 1920 * 100vw);
}

@media screen and (max-width: 1024px) {
  .bonuses {
    padding-top: calc(115 / 768 * 100vw);
  }
  .bonuses > .container {
    display: flex;
    flex-direction: column;
    column-gap: calc(30 / 768 * 100vw);
  }
  .bonuses__text > p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(16 / 768 * 100vw);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text-light-blue);
  }
  .bonuses__text > h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: calc(64 / 768 * 100vw);
    line-height: 95%;
    letter-spacing: -0.06em;
    color: var(--text-white);
    text-align: left;

    width: calc(710 / 768 * 100vw);

    margin-top: calc(30 / 768 * 100vw);
  }
  .bonuses__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(18 / 768 * 100vw);

    margin-top: calc(56 / 768 * 100vw);
  }
  .bonuses__item {
    width: calc(358 / 768 * 100vw);

    border-radius: calc(32 / 768 * 100vw);
    background: linear-gradient(180deg, #00e 0%, #0f1622 100%);
  }
  .bonuses__item > img {
    height: calc(174 / 768 * 100vw);
  }
  .bonuses__item:nth-child(1) > img {
    width: auto;
  }
  .bonuses__item:nth-child(2) > img {
    width: 100%;
  }
  .bonuses__item:nth-child(3) > img {
    width: 100%;
  }
  .bonuses__item-text {
    padding: calc(15 / 768 * 100vw);
    margin-top: calc(0 / 768 * 100vw);
  }
  .bonuses__item-text > h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(24 / 768 * 100vw);
    line-height: 110%;
    letter-spacing: -0.03em;
    color: var(--text-white);
  }
  .bonuses__item-text > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(16 / 768 * 100vw);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--fill-white-800);
    margin-top: calc(10 / 768 * 100vw);
  }
}
@media screen and (max-width: 768px) {
  .bonuses {
    padding-top: calc(80 / 390 * 100vw);
  }
  .bonuses > .container {
    display: flex;
    flex-direction: column;
    column-gap: calc(30 / 390 * 100vw);
  }
  .bonuses__text > p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(16 / 390 * 100vw);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--text-light-blue);
  }
  .bonuses__text > h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: calc(32 / 390 * 100vw);
    line-height: 95%;
    letter-spacing: -0.06em;
    color: var(--text-white);
    text-align: left;

    width: 100%;

    margin-top: calc(20 / 390 * 100vw);
  }
  .bonuses__row {
    display: flex;
    flex-direction: column;
    row-gap: calc(18 / 390 * 100vw);
    column-gap: calc(18 / 390 * 100vw);

    margin-top: calc(30 / 390 * 100vw);
  }
  .bonuses__item {
    width: 100%;

    border-radius: calc(32 / 390 * 100vw);
    background: linear-gradient(180deg, #00e 0%, #0f1622 100%);
  }
  .bonuses__item > img {
    height: calc(174 / 390 * 100vw);
  }
  .bonuses__item:nth-child(1) > img {
    width: auto;
  }
  .bonuses__item:nth-child(2) > img {
    width: 100%;
  }
  .bonuses__item:nth-child(3) > img {
    width: 100%;
  }
  .bonuses__item-text {
    padding: calc(15 / 390 * 100vw);
    margin-top: calc(0 / 390 * 100vw);
  }
  .bonuses__item-text > h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(24 / 390 * 100vw);
    line-height: 110%;
    letter-spacing: -0.03em;
    color: var(--text-white);
  }
  .bonuses__item-text > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(16 / 390 * 100vw);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--fill-white-800);
    margin-top: calc(10 / 390 * 100vw);
  }
}
