.header > .container {
  display: flex;
  flex-direction: column;
}
.header__control {
  display: flex;

  border-left: calc(1 / 1920 * 100vw) solid var(--text-white-300);
  border-right: calc(1 / 1920 * 100vw) solid var(--text-white-300);
  border-bottom: calc(1 / 1920 * 100vw) solid var(--text-white-300);

  height: calc(67 / 1920 * 100vw);
}
.header__logo {
  display: flex;

  padding-left: calc(18 / 1920 * 100vw);
  padding-right: calc(18 / 1920 * 100vw);

  border-right: calc(1 / 1920 * 100vw) solid var(--text-white-300);
}
.header__logo > a {
  display: flex;
}
.header__logo > a > img {
  width: calc(249 / 1920 * 100vw);
}
.header__chapter {
  display: flex;

  padding-left: calc(17 / 1920 * 100vw);
  padding-right: calc(17 / 1920 * 100vw);
}
.header__chapter-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: calc(24 / 1920 * 100vw);
}
.header__chapter-item:first-of-type {
  margin-left: calc(0 / 1920 * 100vw);
}
.header__chapter-item > img {
  height: calc(20 / 1920 * 100vw);
  width: calc(20 / 1920 * 100vw);
}
.header__chapter-item > a {
  text-decoration: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(15 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--text-white);
  margin-left: calc(5 / 1920 * 100vw);
}

.header__lang {
  display: flex;
  align-items: center;

  margin-left: auto;

  border-left: calc(1 / 1920 * 100vw) solid var(--text-white-300);

  padding-top: calc(23 / 1920 * 100vw);
  padding-bottom: calc(23 / 1920 * 100vw);
  padding-left: calc(18 / 1920 * 100vw);
  padding-right: calc(20 / 1920 * 100vw);
}
.header__lang > img {
  width: calc(20 / 1920 * 100vw);
  height: calc(20 / 1920 * 100vw);
}
.header__lang > p {
  margin-left: calc(5 / 1920 * 100vw);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(15 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--text-white);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  transition: all 0.3s ease;
}
.header__lang > p:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header__lang > p:hover {
  cursor: pointer;
}
.header__lang > p::after {
  content: "";

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(16 / 1920 * 100vw);
  height: calc(16 / 1920 * 100vw);

  background: url("/images/ui/menu close.svg");
  background-size: calc(16 / 1920 * 100vw) calc(16 / 1920 * 100vw);
}

.header__support {
  display: flex;
  align-items: center;

  padding-left: calc(18 / 1920 * 100vw);
  padding-right: calc(18 / 1920 * 100vw);

  border-left: calc(1 / 1920 * 100vw) solid var(--text-white-300);
}
.header__support > img {
  width: calc(20 / 1920 * 100vw);
  height: calc(20 / 1920 * 100vw);
}
.header__support > a {
  margin-left: calc(5 / 1920 * 100vw);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(15 / 1920 * 100vw);
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--text-white);
  text-decoration: none;
}

.header__search {
  display: flex;
  align-items: center;

  border-left: calc(1 / 1920 * 100vw) solid var(--text-white-300);

  padding-left: calc(18 / 1920 * 100vw);
  padding-right: calc(18 / 1920 * 100vw);
}
.header__search > a {
  display: flex;
}
.header__search > a > img {
  width: calc(20 / 1920 * 100vw);
  height: calc(20 / 1920 * 100vw);
}

.header__account {
  display: flex;
  align-items: center;

  border-left: calc(1 / 1920 * 100vw) solid var(--text-white-300);

  padding-left: calc(18 / 1920 * 100vw);
  padding-right: calc(18 / 1920 * 100vw);
}
.header__account > a {
  display: flex;
}

.header__account > a > img {
  width: calc(20 / 1920 * 100vw);
  height: calc(20 / 1920 * 100vw);
}

.header__mobile {
  display: flex;
  align-items: center;

  display: none;

  margin-left: auto;
  border-left: calc(1 / 768 * 100vw) solid var(--text-white-300);

  padding-left: calc(12 / 768 * 100vw);
  padding-right: calc(12 / 768 * 100vw);
}
.header__mobile > p {
  display: flex;
  transition: all 0.3s ease;
}
.header__mobile > p:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__mobile > p > img {
  width: calc(46 / 768 * 100vw);
  height: calc(47 / 768 * 100vw);
}

.header__menu {
  padding-top: calc(20 / 1920 * 100vw);
  padding-left: calc(16 / 1920 * 100vw);
}
.header__menu > nav > ul {
  display: flex;
  list-style: none;
}
.header__menu > nav > ul > li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(16 / 1920 * 100vw);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--text-white);

  margin-right: calc(42 / 1920 * 100vw);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  transition: all 0.3s ease;
}
.header__menu > nav > ul > li:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header__menu > nav > ul > li:hover {
  cursor: pointer;
}
.header__menu > nav > ul > li:last-of-type {
  margin-right: calc(0 / 1920 * 100vw);
}
.header__menu > nav > ul > li::after {
  content: "";

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(16 / 1920 * 100vw);
  height: calc(16 / 1920 * 100vw);

  margin-left: calc(2 / 1920 * 100vw);

  background: url("/images/ui/menu close.svg");
  background-size: calc(16 / 1920 * 100vw) calc(16 / 1920 * 100vw);
}

@media screen and (max-width: 1024px) {
  .header > .container {
    display: flex;
    flex-direction: column;
  }
  .header__control {
    display: flex;

    border-left: calc(1 / 768 * 100vw) solid var(--text-white-300);
    border-right: calc(1 / 768 * 100vw) solid var(--text-white-300);
    border-bottom: calc(1 / 768 * 100vw) solid var(--text-white-300);

    height: calc(57 / 768 * 100vw);
  }
  .header__logo {
    display: flex;

    padding-left: calc(12 / 768 * 100vw);
    padding-right: calc(12 / 768 * 100vw);

    padding-right: none;
  }
  .header__logo > a {
    display: flex;
  }
  .header__logo > a > img {
    width: calc(249 / 768 * 100vw);
  }
  .header__chapter {
    display: none;
  }
  .header__lang {
    display: none;
  }
  .header__support {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__account {
    display: none;
  }
  .header__mobile {
    display: flex;
  }

  .header__menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header > .container {
    display: flex;
    flex-direction: column;
  }
  .header__control {
    display: flex;

    border-left: calc(1 / 390 * 100vw) solid var(--text-white-300);
    border-right: calc(1 / 390 * 100vw) solid var(--text-white-300);
    border-bottom: calc(1 / 390 * 100vw) solid var(--text-white-300);

    height: calc(57 / 390 * 100vw);
  }
  .header__logo {
    display: flex;
    align-items: center;

    padding-left: calc(12 / 390 * 100vw);
    padding-right: calc(12 / 390 * 100vw);

    border-right: none;
  }
  .header__logo > a {
    display: flex;
  }
  .header__logo > a > img {
    width: calc(187 / 390 * 100vw);
    height: calc(23 / 390 * 100vw);
  }
  .header__mobile {
    border-left: calc(1 / 390 * 100vw) solid var(--text-white-300);

    padding-left: calc(12 / 390 * 100vw);
    padding-right: calc(12 / 390 * 100vw);
  }

  .header__mobile > p > img {
    width: calc(46 / 390 * 100vw);
    height: calc(47 / 390 * 100vw);
  }
}
